ul {
  width: 100%;
  display: flex;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(14rem, 12vw, 18rem));
  justify-content:space-around;
  gap: 0 1rem;
  font-size: 1.4rem;

  .to:hover {
    cursor: pointer;
    color: $ThemeC22;
  }

  .t {
    width: clamp(14rem, 12vw, 18rem);
    height: clamp(14rem, 12vw, 18rem);
    text-align: center;
    border: 1px solid rgba(161, 161, 161, 0.411);
    box-sizing: border-box;
    cursor: pointer;

    span {
      display: inline-block;
      font-size: 9rem;
      margin-top: 1rem;

      &:nth-child(1) {
        font-size: 2rem;
      }
    }
  }

  span {
    display: inline-block;
    margin-top: 0.5rem;
  }

}