$ThemeC1: var(--ThemeC1);
$ThemeC2: var(--ThemeC2);
$ThemeC3: var(--ThemeC3);
$ThemeC4: var(--ThemeC4);
$ThemeC5: var(--ThemeC5);
$ThemeC6: var(--ThemeC6);
$ThemeC7: var(--ThemeC7);
$ThemeC8: var(--ThemeC8);
$ThemeC9: var(--ThemeC9);
$ThemeC10: var(--ThemeC10);
$ThemeC11: var(--ThemeC11);
$ThemeC12: var(--ThemeC12);
$ThemeC22: var(--ThemeC22);