.comment1 {
  width: 100%;
  margin-top: 63rem;

  @media screen and (min-height:1150px) {
    margin-top: 72rem;
  }
}

.songbox {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $ThemeC5;
  z-index: 11;
}

.click:hover {
  cursor: pointer;
  color: $ThemeC22;
}

nav {
  display: inline;
}

.songinfo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: $ThemeC3;
  position: absolute;
  top: 0;
  z-index: 11;

  @media screen and (min-height:1150px) {
    height: 70rem;
  }

  &-x {
    position: absolute;
    font-size: 2rem;
    width: auto;
    color: red;
  }

  &-all {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  &-top {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-left: 4rem;
    font-size: clamp(2rem, 1.6vw, 3rem);
    color: $ThemeC5;
    position: relative;

    @media screen and (max-width:1150px) {
      flex-direction: column;
    }

    div {
      margin-right: 1rem;
      min-width: 15rem;
    }

    &:nth-child(2) {
      font-size: clamp(1.6rem, 1.4vw, 1.8rem);
    }
  }

  .img {
    position: absolute;
    width: 100%;
    height: 60rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
    background: no-repeat center/100%;
    filter: blur(1rem) brightness(70%);

    @media screen and (min-height:1150px) {
      height: 70rem;
    }
  }

  &-left {
    width: 45%;
    margin: auto 0;

    .songimg {
      width: clamp(25rem, 22vw, 40rem);
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 5rem 1.5rem rgba(#000000, .6);
      margin: auto;

      img {
        display: block;
        width: 100%;
        transform: translate(10px, 10px);
      }
    }

    .songplay {
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      color: aliceblue;

      &-1 {
        display: flex;
        align-items: center;
        z-index: 12;
        margin-top: 0.5rem;
      }

      &-2 {
        margin: 0 auto;
      }

      .time {
        position: relative;
        margin: auto 0.8rem;
      }
    }
  }

  &-right {
    margin-top: 1rem;
    width: 55%;
    font-size: clamp(16px, 1.3vw, 19px);
    height: 50rem;
    overflow-y: auto;
    padding: 24.2rem 0;
    overscroll-behavior-y: contain;

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      white-space: nowrap;
      text-align: center;
      user-select: none;

      .lyric {
        display: inline-block;
        background: $ThemeC5 -webkit-linear-gradient(left, rgb(164, 211, 255), #00d459) no-repeat 0 0;
        background-size: 0%;
        padding: 0.2rem 0;
        font-size: clamp(1.5rem, 1.5vw, 2rem);
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
      }
    }

    .nolyric {
      margin: 15rem auto;
      color: $ThemeC5;
    }
  }
}