.vip {
  box-sizing: content-box;
  border: 1px solid red;
  border-radius: 2px;
  font-size: 1.2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.3rem;
  margin: 0 0.3rem;
  color: red;
  position: sticky;
  right: 0;
}